<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Om Herbs Production Pvt. Ltd.</h4>
        <ul>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">jpt</a></li>
        </ul>

      </div>

      <div class="footer-col">
        <h4>Follow us</h4>
        <div class="social-links">
          <!-- Facebook -->
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>

      <div class="footer-col">
        <h4>Location</h4>
        <a href="https://goo.gl/maps/QR4irYbYEbPgz4dLA" target="_blank">Kakadi, Kolhabi 44400, Nepal  <i class="bi bi-map-fill"></i></a>
        

      </div>
    </div>


  </div>
</div>